.header {
  height: 55px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);
  z-index: 1;
}

.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-menu {
  width: 24px;
  margin: 0px 24px;
}

.youtube-logo {
  width: 90px;
}

.middle-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: end;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
}

.search-bar {
  width: 0;
  height: 36px;
  font-size: 16px;
  min-width: 0;
  flex: 1;
  padding-left: 12px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder{
  font-family: "Roboto", Arial;
  font-size: 16px;
}

.search-bar, .search-button {
  border: 1px solid rgb(204, 204, 204);
}

.voice-search-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}

.search-button {
  width: 60px;
  height: 40px;
  margin-right: 8px;
  border-left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-icon, .voice-search-icon{
  width: 24px;
  cursor: pointer;
}

.right-section {
  width: 182px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-left: 29px;
  margin-right: 24px;
}

.right-section button {
  border: 0;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
}

.right-section button img{
  width: 24px;
}

.right-section .my-channel-button img{
  width: 32px;
}

.notification-button {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: rgb(204, 0, 0);
  color: white;
  height: 12px;
  font-size: 10px;
  font-family: "Roboto", Arial;
  border-color: rgb(204, 0, 0);
  border-style: solid;
  border-width: 2px;
  border-radius: 80px;
  padding: 1.5px 5px;
}